[Unit]
Description=Backup auth service
Requires=auth.target
After=auth.target
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup-target.sh auth
StandardOutput=journal
StandardError=journal
SyslogIdentifier=backup-auth
TimeoutStartSec=3600
