# Network=host, so this points to localhost
CROWDSEC_URL={{ crowdsec_web_ui.crowdsec_url }}
CROWDSEC_USER={{ crowdsec_web_ui.crowdsec_user }}
CROWDSEC_PASSWORD={{ vault_crowdsec_web_ui.password }}

# only if crowdsec metrics are enabled (level: full)
CROWDSEC_PROMETHEUS_URL={{ crowdsec_web_ui.crowdsec_prometheus_url }}

AUTH_ENABLED={{ crowdsec_web_ui.auth_enabled }}

TZ={{ common.timezone }}

PORT={{ crowdsec_web_ui.port }}
