DB_HOSTNAME={{ immich.db_hostname }}
DB_USERNAME={{ immich.db_username }}
DB_PASSWORD={{ vault_immich.postgres_password }}
DB_DATABASE_NAME={{ immich.db_database_name }}
REDIS_HOSTNAME={{ immich.redis_hostname }}
TZ={{ common.timezone }}
GOMAXPROCS={{ immich.gomaxprocs }}
OMP_NUM_THREADS={{ immich.omp_num_threads }}

NVIDIA_VISIBLE_DEVICES={{ immich.nvidia_visible_devices }}
NVIDIA_DRIVER_CAPABILITIES={{ immich.nvidia_driver_capabilities }}
