OIDC_ENABLED={{ freshrss.oidc_enabled }}
OIDC_PROVIDER_METADATA_URL={{ freshrss.oidc_provider_metadata_url }}
OIDC_CLIENT_ID={{ freshrss.oidc_client_id }}
OIDC_CLIENT_SECRET={{ vault_freshrss.oidc_client_secret }}
OIDC_X_FORWARDED_HEADERS={{ freshrss.oidc_x_forwarded_headers }}
OIDC_CLIENT_CRYPTO_KEY={{ vault_freshrss.oidc_client_crypto_key }}
OIDC_REMOTE_USER_CLAIM={{ freshrss.oidc_remote_user_claim }}
OIDC_SCOPES={{ freshrss.oidc_scopes }}

TZ={{ common.timezone }}
