TZ={{ common.timezone }}
PERIOD={{ ddns_updater.period }}
UPDATE_COOLDOWN_PERIOD={{ ddns_updater.update_cooldown_period }}
PUBLICIP_FETCHERS={{ ddns_updater.publicip_fetchers }}
PUBLICIP_HTTP_PROVIDERS={{ ddns_updater.publicip_http_providers }}
PUBLICIPV4_HTTP_PROVIDERS={{ ddns_updater.publicipv4_http_providers }}
PUBLICIP_DNS_PROVIDERS={{ ddns_updater.publicip_dns_providers }}
PUBLICIP_DNS_TIMEOUT={{ ddns_updater.publicip_dns_timeout }}
HTTP_TIMEOUT={{ ddns_updater.http_timeout }}
LISTENING_ADDRESS={{ ddns_updater.listening_address }}
LOG_LEVEL={{ ddns_updater.log_level }}
LOG_CALLER={{ ddns_updater.log_caller }}
BACKUP_PERIOD={{ ddns_updater.backup_period }}
BACKUP_DIRECTORY={{ ddns_updater.backup_directory }}
CONFIG={{ vault_ddns_updater.config_json }}
