TZ={{ common.timezone }}
FTLCONF_dns_upstreams={{ pihole.dns_upstreams }}
FTLCONF_dns_listeningMode={{ pihole.dns_listening_mode }}
FTLCONF_webserver_port={{ pihole.webserver_port }}
FTLCONF_dns_dnssec={{ pihole.dns_dnssec }}
FTLCONF_dns_revServers={{ pihole.dns_rev_servers }}
