TZ={{ common.timezone }}
GF_SERVER_ROOT_URL={{ grafana.server_root_url }}
GF_AUTH_ANONYMOUS_ENABLED={{ grafana.auth_anonymous_enabled }}
GF_SECURITY_ADMIN_USER={{ grafana.admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ vault_grafana.admin_password }}
GF_USERS_ALLOW_SIGN_UP={{ grafana.users_allow_sign_up }}
GF_FEATURE_TOGGLES_ENABLE={{ grafana.feature_toggles_enable }}

GF_AUTH_GENERIC_OAUTH_ENABLED={{ grafana.oauth_enabled }}
GF_AUTH_GENERIC_OAUTH_NAME={{ grafana.oauth_name }}
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ vault_grafana.oauth_client_id }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ vault_grafana.oauth_client_secret }}
GF_AUTH_GENERIC_OAUTH_SCOPES={{ grafana.oauth_scopes }}
GF_AUTH_GENERIC_OAUTH_AUTH_URL={{ grafana.oauth_auth_url }}
GF_AUTH_GENERIC_OAUTH_TOKEN_URL={{ grafana.oauth_token_url }}
GF_AUTH_GENERIC_OAUTH_API_URL={{ grafana.oauth_api_url }}
GF_AUTH_SIGNOUT_REDIRECT_URL={{ grafana.auth_signout_redirect_url }}
GF_AUTH_OAUTH_AUTO_LOGIN={{ grafana.oauth_auto_login }}
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH={{ grafana.oauth_role_attribute_path }}
