TZ={{ common.timezone }}
GEOIPUPDATE_EDITION_IDS={{ geoipupdate.edition_ids }}
GEOIPUPDATE_ACCOUNT_ID={{ geoipupdate.account_id }}
GEOIPUPDATE_LICENSE_KEY={{ vault_geoipupdate.license_key }}
GEOIPUPDATE_FREQUENCY={{ geoipupdate.frequency }}
