TZ={{ common.timezone }}
ACME_EMAIL={{ common.acme_email }}
DISABLE_IPV6={{ npmplus.disable_ipv6 }}
LOGROTATE={{ npmplus.logrotate }}
LOGROTATIONS={{ npmplus.logrotations }}
GOA={{ npmplus.goa }}
INITIAL_ADMIN_EMAIL={{ npmplus.initial_admin_email }}
INITIAL_ADMIN_PASSWORD={{ vault_npmplus.initial_admin_password }}
NGINX_WORKER_PROCESSES={{ npmplus.nginx_worker_processes }}
NGINX_LOAD_GEOIP2_MODULE={{ npmplus.nginx_load_geoip2_module }}
