PORT={{ exportarr_prowlarr.port }}
URL={{ exportarr_prowlarr.url }}
APIKEY={{ vault_exportarr.prowlarr_apikey }}
ENABLE_ADDITIONAL_METRICS={{ exportarr_prowlarr.enable_additional_metrics }}
PROWLARR__BACKFILL={{ exportarr_prowlarr.backfill }}
INSTANCE_NAME={{ exportarr_prowlarr.instance_name }}
LOG_LEVEL={{ exportarr_prowlarr.log_level }}
