[Unit]
Description=Exportarr - Sonarr
After=sonarr.service
OnFailure=notify-failure@%n.service

[Container]
Image={{ versions.exportarr.image }}:{{ versions.exportarr.tag }}
ContainerName=exportarr-sonarr
Network=arr.network
Network=monitoring.network
Exec=sonarr
EnvironmentFile=%h/.config/media/arr/exportarr-sonarr.env
NoNewPrivileges=true
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10
RestartSteps=3
RestartMaxDelaySec=60
TimeoutStartSec=60
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=exportarr-sonarr
Slice=arr.slice

[Install]
WantedBy=arr.target
