PORT={{ exportarr_sonarr.port }}
URL={{ exportarr_sonarr.url }}
APIKEY={{ vault_exportarr.sonarr_apikey }}
ENABLE_ADDITIONAL_METRICS={{ exportarr_sonarr.enable_additional_metrics }}
INSTANCE_NAME={{ exportarr_sonarr.instance_name }}
LOG_LEVEL={{ exportarr_sonarr.log_level }}
