VPN_SERVICE_PROVIDER="{{ gluetun.vpn_service_provider }}"
VPN_TYPE="{{ gluetun.vpn_type }}"
WIREGUARD_PRIVATE_KEY="{{ vault_gluetun.wireguard_private_key }}"
SERVER_COUNTRIES="{{ gluetun.server_countries }}"
PORT_FORWARD_ONLY="{{ gluetun.port_forward_only }}"
VPN_PORT_FORWARDING="{{ gluetun.vpn_port_forwarding }}"
UPDATER_PERIOD="{{ gluetun.updater_period }}"
DNS_UPDATE_PERIOD="{{ gluetun.dns_update_period }}"
BLOCK_MALICIOUS="{{ gluetun.block_malicious }}"
# DOT="off"
DOT_PROVIDERS="{{ gluetun.dot_providers }}"
UNBLOCK="{{ gluetun.unblock }}"
BLOCK_SURVEILLANCE="{{ gluetun.block_surveillance }}"
SHADOWSOCKS="{{ gluetun.shadowsocks }}"
SHADOWSOCKS_LOG="{{ gluetun.shadowsocks_log }}"
HTTPPROXY="{{ gluetun.httpproxy }}"
HTTPPROXY_LOG="{{ gluetun.httpproxy_log }}"
HTTPPROXY_STEALTH="{{ gluetun.httpproxy_stealth }}"
VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{% raw %}{{PORTS}}{% endraw %}}" http://127.0.0.1:8082/api/v2/app/setPreferences 2>&1'
TIMEZONE="{{ common.timezone }}"
