OLLAMA_HOST={{ ollama.host }}
OLLAMA_KEEP_ALIVE={{ ollama.keep_alive }}
OLLAMA_FLASH_ATTENTION={{ ollama.flash_attention }}
OLLAMA_KV_CACHE_TYPE={{ ollama.kv_cache_type }}
OLLAMA_CONTEXT_LENGTH={{ ollama.context_length }}
NVIDIA_VISIBLE_DEVICES={{ ollama.nvidia_visible_devices }}
NVIDIA_DRIVER_CAPABILITIES={{ ollama.nvidia_driver_capabilities }}
