WEBUI_SECRET_KEY={{ vault_openwebui.secret_key }}

OAUTH_CLIENT_ID={{ vault_openwebui.oauth_client_id }}
OAUTH_CLIENT_SECRET={{ vault_openwebui.oauth_client_secret }}
OAUTH_PROVIDER_NAME={{ openwebui.oauth_provider_name }}
OPENID_PROVIDER_URL={{ openwebui.openid_provider_url }}
OPENID_REDIRECT_URI={{ openwebui.openid_redirect_uri }}
WEBUI_URL={{ openwebui.webui_url }}
ENABLE_OAUTH_SIGNUP={{ openwebui.enable_oauth_signup }}
ENABLE_LOGIN_FORM={{ openwebui.enable_login_form }}
OAUTH_MERGE_ACCOUNTS_BY_EMAIL={{ openwebui.oauth_merge_accounts_by_email }}
CORS_ALLOW_ORIGIN={{ openwebui.cors_allow_origin }}

ENABLE_OTEL={{ openwebui.enable_otel }}
ENABLE_OTEL_TRACES={{ openwebui.enable_otel_traces }}
ENABLE_OTEL_METRICS={{ openwebui.enable_otel_metrics }}
OTEL_EXPORTER_OTLP_INSECURE={{ openwebui.otel_exporter_otlp_insecure }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ openwebui.otel_exporter_otlp_endpoint }}
OTEL_SERVICE_NAME={{ openwebui.otel_service_name }}

ENABLE_RAG_LOCAL_WEB_FETCH={{ openwebui.enable_rag_local_web_fetch }}
ENABLE_KB_EXEC={{ openwebui.enable_kb_exec }}

OLLAMA_BASE_URL={{ openwebui.ollama_base_url }}
