SANDBOX_API_KEYS={{ vault_n8n_sandbox.api_keys }}
SANDBOX_API_RUNNER_REGISTRATION_TOKEN={{ vault_n8n_sandbox.runner_registration_token }}
SANDBOX_API_RUNNER_API_KEY={{ vault_n8n_sandbox.runner_api_key }}

SANDBOX_API_GRPC_TLS_CERT_FILE=/tls/api/grpc-server.crt
SANDBOX_API_GRPC_TLS_KEY_FILE=/tls/api/grpc-server.key
SANDBOX_API_GRPC_TLS_CLIENT_CA_FILE=/tls/api/ca.crt
SANDBOX_API_RUNNER_CONTROL_GRPC_TLS_CA_FILE=/tls/api/ca.crt
SANDBOX_API_RUNNER_CONTROL_GRPC_TLS_CERT_FILE=/tls/api/control-grpc-api-client.crt
SANDBOX_API_RUNNER_CONTROL_GRPC_TLS_KEY_FILE=/tls/api/control-grpc-api-client.key
SANDBOX_API_RUNNER_CONTROL_GRPC_TLS_SERVER_NAME=sandbox-runner-1
