PORT={{ exportarr_lidarr.port }}
URL={{ exportarr_lidarr.url }}
APIKEY={{ vault_exportarr.lidarr_apikey }}
ENABLE_ADDITIONAL_METRICS={{ exportarr_lidarr.enable_additional_metrics }}
INSTANCE_NAME={{ exportarr_lidarr.instance_name }}
LOG_LEVEL={{ exportarr_lidarr.log_level }}
