[Unit]
Description=Exportarr - Radarr
After=radarr.service
OnFailure=notify-failure@%n.service

[Container]
Image={{ versions.exportarr.image }}:{{ versions.exportarr.tag }}
ContainerName=exportarr-radarr
Network=arr.network
Network=monitoring.network
Exec=radarr
EnvironmentFile=%h/.config/media/arr/exportarr-radarr.env
NoNewPrivileges=true
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10
RestartSteps=3
RestartMaxDelaySec=60
TimeoutStartSec=60
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=exportarr-radarr
Slice=arr.slice

[Install]
WantedBy=arr.target
