PORT={{ exportarr_radarr.port }}
URL={{ exportarr_radarr.url }}
APIKEY={{ vault_exportarr.radarr_apikey }}
ENABLE_ADDITIONAL_METRICS={{ exportarr_radarr.enable_additional_metrics }}
INSTANCE_NAME={{ exportarr_radarr.instance_name }}
LOG_LEVEL={{ exportarr_radarr.log_level }}
