TZ={{ common.timezone }}
PUID={{ tdarr.puid }}
PGID={{ tdarr.pgid }}
UMASK_SET={{ tdarr.umask_set }}
serverIP={{ tdarr.server_ip }}
serverPort={{ tdarr.server_port }}
webUIPort={{ tdarr.webui_port }}
inContainer={{ tdarr.in_container }}
ffmpegVersion={{ tdarr.ffmpeg_version }}
maxLogSizeMB={{ tdarr.max_log_size_mb }}
internalNode={{ tdarr.internal_node }}
nodeName={{ tdarr.node_name }}
NVIDIA_VISIBLE_DEVICES={{ tdarr.nvidia_visible_devices }}
NVIDIA_DRIVER_CAPABILITIES={{ tdarr.nvidia_driver_capabilities }}
