[Unit]
Description=Jellyfin backup service
Requires=media.target
After=media.target
OnFailure=notify-failure@%n.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup-target.sh jellyfin
StandardOutput=journal
StandardError=journal
SyslogIdentifier=backup-jellyfin
TimeoutStartSec=3600
