API_KEY={{ vault_openai_edge_tts.api_key }}
PORT={{ openai_edge_tts.port }}
DEFAULT_VOICE={{ openai_edge_tts.default_voice }}
DEFAULT_LANGUAGE={{ openai_edge_tts.default_language }}
DEFAULT_RESPONSE_FORMAT={{ openai_edge_tts.default_response_format }}
DEFAULT_SPEED={{ openai_edge_tts.default_speed }}
REQUIRE_API_KEY={{ openai_edge_tts.require_api_key }}
REMOVE_FILTER={{ openai_edge_tts.remove_filter }}
EXPAND_API={{ openai_edge_tts.expand_api }}
